<div class="container max-w-full">
  <!-- Main menu -->
  <header class="nav-background">
    <div class="nav-layout">
      <div class="title-and-version-style">
        <span class="title-style">ODIRA</span>
        <span class="vModel">v1 Model</span>
      </div>
      <nav class="nav-menu">
        <a [routerLink]="['/']" class="heading">DASHBOARD</a>
        <a [routerLink]="['/about']" class="heading">ABOUT</a>
      </nav>
    </div>
  </header>
  <!-- Content -->
  <div class="max-w-5xl mx-auto py-12 px-4">
    <div class="about-content">
      <div class="space-y-3 md:col-span-1">
        <h3 class="sub-head">What is Object Detection?</h3>
        <p class="content">
          Object detection is a computer vision technique that locates objects in digital images. It
          consists of training computers to see as humans do, by recognizing and classifying objects
          to semantic categories. Object localization is a technique used to determine the location
          of specific objects by drawing a bounding box.
        </p>
      </div>
      <div class="space-y-3 md:col-span-1">
        <h1 class="sub-head">What is ODIRA?</h1>
        <p class="content">
          ODIRA stands for Object Detection Information Recording Application. ODIRA uses the
          MobileNet SSD v3 detection model that is trained on the COCO dataset. This application
          allows users to upload an image or take a picture with their webcam. Users can adjust the
          settings parameters before processing to detect specific category of objects and apply
          stricter or looser filtering. Once the image has been processed the application returns
          information about what objects were detected, how many per class and a total count of
          objects detected.
        </p>
      </div>
      <div class="space-y-3 md:col-span-2 mt-4">
        <h1 class="sub-head">How to use ODIRA?</h1>
        <p class="content">
          To use ODIRA, the user must either use the webcam to take a picture or upload an existing
          image. The user can then adjust the settings parameters. Object Threshold parameter
          determines the model's certainty. (Higher values for High certainty and Lower Value for
          Low certainty). NMS (Non-Maximum Supression Threshold) parameter determines how boundary
          boxes of objects should overlap. (Higher values for more overlap and Lower values for less
          overlap). Once the image has been submitted the user can click the process button to
          process the image. The results will be displayed in the Results sections. Please wait for
          the model to finish processing the image it can take up to 30 seconds to 60 seconds
          depending on the size of the image and the number of objects detected.
        </p>
      </div>
    </div>
    <!-- Categories -->

    <div class="categories-section">
      <div class="categories-title-wrapper">
        <h3 class="sub-head">Different Categories of Objects</h3>
        <p class="content text-xs mt-1">
          The MobileNet SSD model can identify 80+ distinct objects across these core
          classifications.
        </p>
      </div>
      <!--  Categories Layout-->
      <div class="flex flex-col md:flex-row gap-6 w-full mt-6 min-h-[300px]">
        <div class="categories-sidebar">
          @for (category of categories; track category.name; let i = $index) {
            <button
              (click)="selectCategory(i)"
              [class.bg-indigo-600]="activeCategoryIndex === i"
              [class.bg-text-white]="activeCategoryIndex === i"
              [class.bg-slate-600]="activeCategoryIndex !== i"
              [class.text-slate-400]="activeCategoryIndex !== i"
              [class.border-slate-800]="activeCategoryIndex !== i"
              class="categories-button"
            >
              {{ category.name }}
            </button>
          }
        </div>
        <!-- Content Window for Category Details -->
        <div class="category-details-layout">
          <h4 class="category-name-display">{{ categories[activeCategoryIndex].name }}</h4>

          <ul class="category-items-grid">
            @for (item of categories[activeCategoryIndex].items; track item) {
              <li class="category-item">
                {{ item }}
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
