<div class="webcam-card-container">
  <!-- Webcam Header -->
  <div class="webcam-header-bar">
    <div class="webcam-title-group">
      <i class="fa-solid fa-video webcam-icon"></i>
      <h2 class="webcam-title-text">Live Webcam Feed</h2>
    </div>
    <!-- Camera Status Indicator -->
    <span class="flex h-2 w-2 relative">
      <span
        [class.bg-emerald-400]="webcamService.showWebcam()"
        [class.bg-slate-500]="!webcamService.showWebcam()"
        class="animate-ping absolute inline-flex h-full w-full rounded-full opacity-75"
      ></span>
      <span
        [class.bg-emerald-500]="webcamService.showWebcam()"
        [class.bg-slate-500]="!webcamService.showWebcam()"
        class="relative inline-flex rounded-full h-2 w-2"
      ></span>
    </span>
  </div>

  <!-- Control Bar -->
  <div class="webcam-toggle-area">
    <!-- Camera Toggle On/Off button -->
    @if (webcamService.showWebcam() == true) {
      <button class="camera-toggle-btn-on-bg" (click)="toggleCamera()" title="Turn Camera Off">
        <div class="camera-toggle-btn-on"></div>
      </button>
    } @else {
      <button class="camera-toggle-btn-off-bg" (click)="toggleCamera()" title="Turn Camera On">
        <div class="camera-toggle-btn-off"></div>
      </button>
    }
  </div>

  <!-- Screen Canvas Viewport -->
  <div class="webcam-viewscreen-wrapper">
    @if (webcamService.showWebcam() == true) {
      <webcam
        class="webcam-window"
        [width]="1080"
        [height]="720"
        [videoOptions]="webcamService.videoOptions"
        [trigger]="webcamService.getTriggerObservable()"
        (imageCapture)="webcamService.handleImage($event)"
        (initError)="webcamService.handleInitError($event)"
        [mirrorImage]="webcamService.mirrorImage()"
        [allowCameraSwitch]="webcamService.allowCameraSwitch()"
        [trigger]="webcamService.getTriggerObservable()"
        (imageCapture)="webcamService.handleImage($event)"
        [imageQuality]="webcamService.imageQuality()"
      >
      </webcam>
    } @else {
      <div class="flex justify items-center space-x-4">
        <i class="fa-solid fa-video-slash text-5xl text-slate-800 mb-2"></i>
        <span class="text-xs font-medium tracking-wide text-slate-500 font-mono"
          >Camera Feed Inactive</span
        >
      </div>
    }
  </div>

  <!-- Action Footer Section -->

  <div class="webcam-action-footer">
    @if (webcamService.showWebcam() == true) {
      <button class="capture-btn" (click)="webcamService.triggerSnapShot()">
        <i class="fa-solid fa-camera text-xl"></i>
      </button>
    } @else {
      <button class="capture-btn-gray" disabled>
        <i class="fa-solid fa-camera text-xl"></i>
      </button>
    }
  </div>
</div>
